[submodule "PCA-EXP-6-MATRIX-TRANSPOSITION-USING-SHARED-MEMORY-AY-23-24"]
	path = PCA-EXP-6-MATRIX-TRANSPOSITION-USING-SHARED-MEMORY-AY-23-24
	url = https://github.com/Ronick2005/PCA-EXP-6-MATRIX-TRANSPOSITION-USING-SHARED-MEMORY-AY-23-24.git
[submodule "PCA-EXP-5-MATRIX-MULTIPLICATION-USING-CUDA-AY-23-24"]
	path = PCA-EXP-5-MATRIX-MULTIPLICATION-USING-CUDA-AY-23-24
	url = https://github.com/Ronick2005/PCA-EXP-5-MATRIX-MULTIPLICATION-USING-CUDA-AY-23-24.git
[submodule "PCA-EXP-4-MATRIX-ADDITION-WITH-UNIFIED-MEMORY-AY-23-24"]
	path = PCA-EXP-4-MATRIX-ADDITION-WITH-UNIFIED-MEMORY-AY-23-24
	url = https://github.com/Ronick2005/PCA-EXP-4-MATRIX-ADDITION-WITH-UNIFIED-MEMORY-AY-23-24.git
[submodule "PCA-EXP-3-PARALLEL-REDUCTION-USING-UNROLLING-TECHNIQUES-AY-23-24"]
	path = PCA-EXP-3-PARALLEL-REDUCTION-USING-UNROLLING-TECHNIQUES-AY-23-24
	url = https://github.com/Ronick2005/PCA-EXP-3-PARALLEL-REDUCTION-USING-UNROLLING-TECHNIQUES-AY-23-24.git
[submodule "PCA-EXP-2-MATRIX-SUMMATION-USING-2D-GRIDS-AND-2D-BLOCKS-AY-23-24"]
	path = PCA-EXP-2-MATRIX-SUMMATION-USING-2D-GRIDS-AND-2D-BLOCKS-AY-23-24
	url = https://github.com/Ronick2005/PCA-EXP-2-MATRIX-SUMMATION-USING-2D-GRIDS-AND-2D-BLOCKS-AY-23-24.git
[submodule "PCA-EXP-1-SUM-ARRAY-GPU-AY-23-24"]
	path = PCA-EXP-1-SUM-ARRAY-GPU-AY-23-24
	url = https://github.com/Ronick2005/PCA-EXP-1-SUM-ARRAY-GPU-AY-23-24.git
